.custom-modal .ant-input-number {
  width: 100%;
}

.custom-modal .ant-modal-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.custom-modal .ant-modal-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.custom-modal .ant-form-item-label label {
  font-weight: 600;
}