.accounts {
  flex: 3;
}

.accounts-wrap {
  max-height: 85vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.accounts-list {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.accounts-list-loader {
  width: 100%;
  height: 190px;
}
